<form name="searchForm" role="form">
  <div class="form-group">
    <label for="productTitle">product name:</label>
    <input type="text" id="productTitle" placeholder="producTitle" class="form-control">
  </div>
  <div class="form-group">
    <label for="productPrice">product price:</label>
    <input type="number" id="productPrice" placeholder="productPrice" class="form-control">
  </div>
  <div class="form-group">
    <label for="productCategory">product Category:</label>
    <select id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </div>
</form>

